body {
    margin: 0;padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
/*Edit bootstrap classes*/
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}
/*End Edit bootstrap classes*/
/* Change Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #fcfcfc;
}
::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(
        177deg,
        hsl(270deg 100% 7%) 0%,
        hsl(237deg 45% 13%) 33%,
        hsl(223deg 49% 17%) 39%,
        hsl(215deg 51% 20%) 42%,
        hsl(209deg 51% 23%) 44%,
        hsl(204deg 48% 27%) 46%,
        hsl(200deg 44% 31%) 49%,
        hsl(197deg 39% 35%) 52%,
        hsl(193deg 34% 40%) 56%,
        hsl(189deg 28% 44%) 59%,
        hsl(185deg 23% 49%) 63%,
        hsl(179deg 22% 55%) 68%,
        hsl(172deg 24% 61%) 72%,
        hsl(164deg 27% 68%) 77%,
        hsl(154deg 30% 75%) 82%,
        hsl(142deg 35% 82%) 88%,
        hsl(125deg 46% 89%) 94%,
        hsl(104deg 100% 95%) 100%
    ); */
background-image: linear-gradient(
    177deg,
    hsl(213deg 76% 63%) 0%,
    hsl(207deg 80% 61%) 33%,
    hsl(203deg 82% 60%) 39%,
    hsl(199deg 82% 58%) 42%,
    hsl(197deg 81% 58%) 44%,
    hsl(194deg 78% 59%) 46%,
    hsl(192deg 75% 61%) 49%,
    hsl(189deg 70% 63%) 52%,
    hsl(186deg 65% 65%) 56%,
    hsl(182deg 59% 67%) 59%,
    hsl(177deg 57% 71%) 63%,
    hsl(171deg 58% 75%) 68%,
    hsl(165deg 60% 79%) 72%,
    hsl(157deg 61% 82%) 77%,
    hsl(148deg 63% 86%) 82%,
    hsl(137deg 67% 90%) 88%,
    hsl(121deg 76% 93%) 94%,
    hsl(104deg 100% 95%) 100%
);
    border-radius: 25px;
}
table th {
    text-transform: capitalize;
}
